<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Bomber</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div class="game" ng-app="angularbomber" ng-controller="BomberController" ng-click="mainClic()">
		<div ng-repeat="buildingFloor in buildingsToDisplay" class="sprite building-floor" ng-style="buildingFloor.style"></div>			
		<div ng-if="plane.active" class="sprite plane" ng-class="{crashed: plane.crashed}" ng-style="plane.style"></div>
		<div ng-if="bomb.active" class="sprite bomb" ng-style="bomb.style"></div>
		<div ng-if="isMessageDisplayed()" ng-bind="getMessageDisplayed()" class="mainmessage"></div>
	</div>
</body>
</html>